services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/data

  # app:
  #   build: .
  #   ports:
  #     - "8888:8888"
  #   depends_on:
  #     - qdrant

volumes:
  qdrant_data: